[Unit]
Description=Server Monitor WebApp
After=network.target

[Service]
Type=notify
User=devuser
Group=devuser
RuntimeDirectory=monitor-webapp
WorkingDirectory=/opt/projects/git-repos/server-monitor-webapp
Environment=PATH=/opt/projects/git-repos/server-monitor-webapp/venv/bin
EnvironmentFile=/opt/projects/git-repos/server-monitor-webapp/.env
ExecStart=/opt/projects/git-repos/server-monitor-webapp/venv/bin/gunicorn -c config/gunicorn.conf.py src.main:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target